body{
    padding-top: 120px; 
}

/* Generics */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1;
}

.wrapper{
    height: calc(100vh - 120px);
    overflow-y: auto;
}


/* Utils */
.container-fluid{
    height: 100%;  
}

.row{
    height: 100%; 
}

section{
    margin-bottom: 3rem;
}

img{
    max-width: 100%;
}

li{
    list-style-type: none;
}

a{
    cursor: pointer;
    display: block;
}

.ps-text-color{
    color: rgba(0, 0, 0, 0.6); 
}


/* Header */
.ps-logo-header{
    background-color: black;
    height: 40px; 
}

.ps-logo-header img{
    width: 100px;
}

.ps-nav-header{
    background-color: whitesmoke;
    height: 80px; 
}

.ps-img-lens img{
    width: 25px; 
}

.ps-nav-header a{
    color: black;
    text-decoration: none;
}

.bi-list{
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.ps-right-navbar{
    height: 100%;  
}

.ps-right-navbar nav,
.ps-right-navbar ul{
    height: 100%;  
}

.ps-right-navbar button{
    background-color: rgba(0, 0, 0, 0.7);
}


/* Jumbotron */
.ps-jumbo-bkg{
    min-height: 500px;
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 200px;
}


/* Playstation 5 */
.ps-selected-product{
    border: 1px solid dodgerblue;
    width: 120px;
    height: 1px;
}


/* new-games */
.ps-new-games{
    min-height: 500px;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30px;
}

#new-games h6{
    padding-bottom: 40px;
}

.ps-trade-mark{
    font-size: 7px;
}


/* discover more */
.ps-playplus-bkg{
    background-color: lightgray;
}


/* playstation now */
#playstation-now{
    background-color: #000066;
}


/* footer */
footer{
    background-color: dodgerblue;
}

.ps-img-globo{
    width: 25px;
}

.ps-img-sie{
    width: 100px;
}

